{% extends 'home.html' %}

{% block body %}

<!-- ===== FORM CARD ===== -->
    <div class="container">
        <div class="card">
            <h2>Create Form</h2>
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name='name' placeholder="Enter name">
                </div>

                <button class="btn btn-primary">Submit</button>
                
            </form>
        </div>

        <!-- ===== TABLE CARD ===== -->
        <div class="card">
            <h2>Table View</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in C_data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.name}}</td>
                            <td>
                                <a href="{% url 'CategoryEdit' i.id %}">Edit</a>
                                <a href="{% url 'CategoryDelete' i.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
{% endblock body %}
    