{% extends 'home.html' %}

{% block body %}

<!-- ===== FORM CARD ===== -->
    <div class="container">
        <div class="card">
            <h2>edit Form</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name='name' value={{C_data.name}} placeholder="Enter name">
                </div>

                <button class="btn btn-primary">Submit</button>
                
            </form>
        </div>
{% endblock body %}