{% extends 'home.html' %}

{% block body %}
    <br>
        <button>
      <h3><a href="{% url 'ProductAdd' %}">ProductAdd</a></h3>
     </button><br>
        <!-- ===== TABLE CARD ===== -->
        <div class="card">
            <h2>Table View</h2>
            <table>
                <thead>
                    <tr> 
                        <th>Name</th>
                        <th>unit_price</th>
                        <th>qty</th>
                        <th>total_amount</th>
                        <th>stock</th>
                        <th>category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in p_data %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.unit_price}}</td>
                            <td>{{i.qty}}</td>
                            <td>{{i.total_amount}}</td>
                            <td>{{i.stock}}</td>
                            <td>{{i.category}}</td>
                            <td>
                                <a href="{% url 'ProductEdit' i.id %}">Edit</a>
                                <a href="{% url 'ProductDelete' i.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
{% endblock body %}